@import "../../utils/mixins";

.wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.column {
  @include desktop {
    flex-basis: 500px;
  }

  &:not(:first-child) {
    margin-top: 10px;
    
    @include desktop {
      margin-top: 0;
    }
  }
}